@keyframes toast-enter {
    0% {
        transform: translateY(-120%) translateX(100%);
        opacity: 0;
    }

    60% {
        transform: translateY(10%) translateX(0);
        opacity: 1;
    }

    80% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes toast-close {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%) translateX(100%);
        opacity: 0;
    }
}

.Toastify__toast-container {
    z-index: 9999;
    pointer-events: none;
}

.Toastify__toast {
    pointer-events: auto;
    background: var(--toast-bg) !important;
    backdrop-filter: blur(var(--toast-blur));
    border-radius: var(--toast-border-radius);
    box-shadow: var(--toast-shadow);
    color: var(--toast-text);
    transition: transform var(--toast-transition),
        box-shadow 0.5s cubic-bezier(0.33, 0, 0.2, 1.4);
}

.Toastify__toast:hover {
    transform: scale(1.03) translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--animate {
    animation: toast-enter 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        toast-close 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.5s forwards;
}